@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #24252a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}
body::-webkit-scrollbar {
  display: none;
}

li,
a,
button {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 17px;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  border-bottom: black 2px;
}

.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.nav_links {
  grid-row: auto;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0.05s;
}

.nav_links li a:hover {
  color: rgb(255, 85, 110);
}

button {
  padding: 9px 25px;
  background-color: rgb(255, 25, 110, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0.05s;
}

button:hover {
  background-color: rgb(255, 25, 110, 0.6);
}

.introImage {
  display: block;
  height: 75%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border: rgb(255, 255, 255, 0.2) solid 2px;
  border-radius: 5px;
}

.categories-container {
  padding: 30px 10%;
  margin: 0 auto;
  text-align: center;
  display: grid;
}
li {
  text-align: center;
}

.categories-list {
  border: white 2px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories-item {
  box-sizing: border-box;
  display: inline-block;
  margin: 1%;
  padding: 10px 30px;
  font-size: 25px;
  border-radius: 10px;
}

.categories-names {
  font-size: 20px;
}
ul {
  list-style: none;
  padding-left: 0;
}
.categories-link {
  transition: all 0.3s ease 0.05s;
  text-decoration: none;
  margin: 10px;
}
.categories-link:hover {
  color: rgb(255, 85, 110);
}

.info-1 {
  color: white;
  text-align: center;
  padding: 30px;
}

.info-paragraphs {
  font-size: 16px;
  padding: 15px;
  color: white;
  text-align: center;
}

.carousel {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border: rgb(255, 255, 255, 0.2) solid 2px;
  border-radius: 0;
}
.carousel-control-next,
.carousel-control-prev {
  transition: all 0.3s ease-in-out 0.05s;
}
.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: rgb(50, 50, 50, 0.8);
  border-radius: 0;
}

.sectionProjects,
.sectionImage {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 50px;
}

.sectionText {
  margin-left: 10%;
}

.sectionImage img {
  display: block;
  height: 75%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
form {
  margin-top: 5%;
}
form.searchBarSection input[type="text"] {
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: 2px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.fa {
  background: transparent;
}
/* Style the submit button */
form.searchBarSection button {
  float: left;
  width: 20%;
  padding: 10px;
  background-color: rgb(255, 25, 110, 1);
  color: white;
  font-size: 17px;
  cursor: pointer;
}

form.searchBarSection button:hover {
  background-color: rgb(255, 25, 110, 0.6);
}

/* Clear floats */
form.searchBarSection::after {
  content: "";
  clear: both;
  display: table;
}

.sectionLinks,
.sectionDark {
  text-align: left;
  color: #f1f1f1;
  background-color: #0e0f14;
}
.sectionItems a,
.sectionItems li {
  padding-top: 10px;
  background-color: #0e0f14;
  font-size: 15px;
  text-decoration: #f1f1f1;
}
.searchBarSection {
  display: flex;
}
.sectionItems a:hover {
  transition: all 0.3s ease 0.05s;
  color: rgb(200, 200, 200, 0.8);
}

.bottomLinksColumn {
  background-color: #0e0f14;
  margin-left: 5%;
  padding: 10px;
}

body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.backgroundImage {
  background-image: url("https://cdna.artstation.com/p/assets/images/images/052/406/124/large/saga-alayyoubi-1-sagaalayyoubi-zentemple-ue5.jpg?1659702000");
  filter: blur(10px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundText {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.backgroundText h1,
p {
  background-color: transparent;
}
.container {
  background-color: transparent;
}

/* Bordered form */
.loginForm {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: white;
}

/* Extra style for the cancel button (red) */

.loginBtn {
  background-color: rgb(46, 250, 71, 1);
  color: #24252a;
  font-weight: bold;
}

.loginBtn:hover {
  background-color: rgb(46, 250, 71, 0.6);
  color: #24252a;
  font-weight: bold;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(255, 25, 110);
}

/* Center the avatar image inside this container */
.imgcontainer,
.loginImage {
  width: 50%;
  display: block;
  /*margin: auto; */
  background-color: transparent;
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */

.mobileButton {
  display: none;
}
.containerButtons {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  width: auto;
}
.about-text {
  margin-top: 5%;
  font-size: 15px;
  font-weight: normal;
}
.aboutSection {
  margin-top: 15vh;
}
.backgroundText {
  width: 25%;
  max-width: 25%;
  resize: none;
}

.cancelButton {
  display: inline-block;
  justify-content: space-between;
}

h2,
h3 {
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.sectionProjects {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.error_msg {
  color: red;
}

.input-form.correct {
  border: lawngreen 2px solid;
}

.input-form.incorrect {
  border: red 2px solid;
}

.pic {
  background-color: rgba(0, 0, 0, 0.25);
}
.headerPhone,
.headerPhone.a.icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-proj {
  background-color: rgb(255, 25, 110, 1);
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial, serif;
  font-size: 18px;
  padding: 14px 28px;
  text-decoration: none;
}
.btn-proj:hover {
  color: #ffffff !important;
  background-color: rgb(255, 25, 110, 0.6) !important;
}

.dark-bck {
}

#myLinks {
  display: none;
}
